<div class='about_cont'>
    <img src="assets/img/home/about_bg_1.png" alt="">
    <div>
        <h3>场外个股期权 首选{{globalData.config.title}}</h3>
        <p>场外个股期权交易，分享交流一站式服务平台</p>
    </div>
</div>
<div class='about_cont'>
    <img src="assets/img/home/about_bg_2.png" alt="">
    <div>
        <h3>{{globalData.config.title}}，引领您的财富人生</h3>
        <p>期权资产配置，以小博大，收益稳定增长</p>
    </div>
</div>
<div class='about_cont'>
    <img src="assets/img/home/about_bg_3.png" alt="">
    <div>
        <h3>最安全的场外期权投资平台</h3>
        <p>AI人工智能全程数据监控，为您的资金保驾护航</p>
    </div>
</div>
<div class='about_cont'>
    <img src="assets/img/home/about_bg_4.png" alt="">
    <div>
        <h3>致力于为用户提供一流的场外期权投资体验</h3>
        <p>自由选择市场上的股票，灵活投资、实现收益最大化</p>
    </div>
</div>