.payPassword {
    width: 100%;
    height: 100%;
    .info_title {
        width: 858px;
        height: 50px;
        border-bottom: 1px solid #CCCCCC;
        margin: 40px 0 40px 40px;
        p {
            font-family: MicrosoftYaHei-Bold;
            font-size: 24px;
            color: #333333;
            text-align: left;
            font-weight: 600;
        }
    }
    .form_wrap {
        width: 400px;
        height: 430px;
        margin: 0 auto;
        position: relative;
        input::-ms-input-placeholder {
            font-family: MicrosoftYaHei;
            font-size: 14px;
            color: #CCCCCC;
            letter-spacing: 0;
        }
        input::-moz-input-placeholder {
            font-family: MicrosoftYaHei;
            font-size: 14px;
            color: #CCCCCC;
            letter-spacing: 0;
        }
        input::-o-input-placeholder {
            font-family: MicrosoftYaHei;
            font-size: 14px;
            color: #CCCCCC;
            letter-spacing: 0;
        }
        input::-webkit-input-placeholder {
            font-family: MicrosoftYaHei;
            font-size: 14px;
            color: #CCCCCC;
            letter-spacing: 0;
        }
        .input1,
        .input2,
        .input3,
        .input4 {
            width: 260px;
            height: 40px;
            position: absolute;
            top: 0;
            right: 0;
            padding-left: 20px;
        }
        .input2 {
            top: 80px;
        }
        .input3 {
            top: 165px;
        }
        .input4 {
            top: 253px;
        }
        .p1,
        .p2,
        .p3,
        .p4 {
            font-family: MicrosoftYaHei;
            font-size: 18px;
            color: #000000;
            letter-spacing: 0;
            position: absolute;
            left: 0;
            top: 10px;
        }
        .p2 {
            top: 91px;
        }
        .p3 {
            top: 175px;
        }
        .p4 {
            top: 262px;
        }
        .btn {
            width: 300px;
            height: 40px;
            position: absolute;
            left: 50px;
            bottom: 150px;
            border-radius: 0;
        }
        .icon1 {
            position: absolute;
            top: 8px;
            right: -29px;
            font-size: 18px;
        }
        .icon2 {
            position: absolute;
            top: 89px;
            right: -29px;
            font-size: 18px;
        }
        .icon3 {
            position: absolute;
            top: 174px;
            right: -29px;
            font-size: 18px;
        }
        .icon4 {
            position: absolute;
            top: 262px;
            right: -29px;
            font-size: 18px;
        }
    }
    .form_wrap1 {
        position: relative;
        .btn {
            bottom: 20px;
        }
        .btn2 {
            position: absolute;
            top: 83px;
            right: 3px;
            font-family: MicrosoftYaHei;
            font-size: 14px;
            color: white;
            // background: linear-gradient(45deg, #88DCFF 0%, #4EA1FF 100%);
            letter-spacing: 0;
            cursor: pointer;
            outline: none;
            border-radius: 0;
            border: none;
        }
    }
}