<div class='info_title'>
    <p>充值记录</p>
</div>

<div class='self_table'>
    <el-table [model]="rechargeData" height='600px' center="all">
        <el-table-column model-key="addTime" label="日期" width="281">
        </el-table-column>
        <!-- <el-table-column model-key="bank" label="充值银行" >
        </el-table-column> -->
        <el-table-column model-key="money" label="金额" width="281">
        </el-table-column>
        <!-- <el-table-column model-key="arrival" label="实际到账">
        </el-table-column> -->
        <el-table-column model-key="description" label="状态" width="281">
        </el-table-column>
    </el-table>
</div>