<div class='loginPassword'>
    <div class='info_title'>
        <p>修改登录密码</p>
    </div>
    <div class='form_wrap'>
        <form [formGroup]="passwordForm" autocomplete="off">
            <input class='input1' type="password" formControlName="oldpassword" placeholder="请输入原登录密码">
            <input class='input2' type="password" formControlName="newpassword" placeholder="请输入新登录密码">
            <input class='input3' type="password" formControlName="confirmpassword" placeholder="请输入确认密码">
            <p class='p1'>原登录密码</p>
            <p class='p2'>新登录密码</p>
            <p class='p3'>确认密码</p>
            <el-icon class='icon1' *ngIf="passwordForm.controls.oldpassword.valid && passwordForm.controls.oldpassword.dirty" name="circle-check" style="color:#51C332;"></el-icon>
            <el-icon class='icon1' *ngIf="!passwordForm.controls.oldpassword.valid && passwordForm.controls.oldpassword.dirty" name="circle-close" style="color:red;"></el-icon>
            <el-icon class='icon2' *ngIf="passwordForm.controls.newpassword.valid && passwordForm.controls.newpassword.dirty" name="circle-check" style="color:#51C332;"></el-icon>
            <el-icon class='icon2' *ngIf="!passwordForm.controls.newpassword.valid && passwordForm.controls.newpassword.dirty" name="circle-close" style="color:red;"></el-icon>
            <el-icon class='icon3' *ngIf="passwordForm.controls.confirmpassword.valid && passwordForm.controls.confirmpassword.dirty&&passwordForm.controls.newpassword.value==passwordForm.controls.confirmpassword.value" name="circle-check" style="color:#51C332;"></el-icon>
            <el-icon class='icon3' *ngIf="(!passwordForm.controls.confirmpassword.valid||passwordForm.controls.newpassword.value!=passwordForm.controls.confirmpassword.value)&&passwordForm.controls.confirmpassword.dirty" name="circle-close" style="color:red;"></el-icon>
            <el-button class='btn' (click)='conformit(passwordForm.value)' [elDisabled]="!passwordForm.valid||passwordForm.controls.newpassword.value!=passwordForm.controls.confirmpassword.value" type="primary">立即修改</el-button>
        </form>

    </div>
</div>